# Virtual environments
.venv/
venv/
utilvenv/

# Python bytecode and caches
*.pyc
__pycache__/
*.py[cod]
*.pyo

# Distribution / packaging
.Python
env/
build/
dist/
*.egg-info/
*.whl

# Environment variables and sensitive files
.env

# IDE/Editor-specific files
.vscode/
.idea/
*.sublime-*

# System files
.DS_Store
Thumbs.db

# Logs and temporary files
*.log
*.bak
*.tmp
*.swp
